<div class=title>新規投稿</div>


<%= form_tag('/posts', method: :post, class: :formbox) do %> 
  <input type="text" name="content" class="box">  
<div id="container">
  <button class="btn slide-bg"><span><input type="submit" class="sub"></span>Button</button>
</div>
<% end %>

378368